.user_profile {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  font-size: 1rem;
  text-align: center;
}
.user_profile h1 {
  font-size: 1.5rem;
}
.user_profile table {
  margin: 0 auto;
  border-radius: 20px;
}
.user_profile table tr td {
  padding: 0.5em;
}
.user_profile table tbody tr:nth-child(odd) {
  background: black;
  color: yellow;
}
.user_profile table tbody tr:nth-child(even) {
  background: yellow;
  color: black;
}
